{% extends 'base.html' %}

{% load static %}

{% block title %}
  Products Page
{% endblock title %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Our Products</h3>
                        <p><a href="index.html">Home</a> / Products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

        <!-- product_area-START -->
        <div class="gallery_area add_padding" 
            {% if selected_category %}
                {% if selected_category == "Caterpillar" %} 
                {% elif selected_category == "Perkins" %}
                {% elif selected_category == "Cummins" %}
                {% endif %}
            {% endif %}
        >
        
            
            <div class="container p-0 mb-5" >
                <div class="row grid no-gutters">
                    {% for product in products %}
                    <div  class="col-xl-4 col-lg-4 col-md-6 grid-item  {{ product.category.slug }}">
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="{{ product.show_image1 }}" alt="{{ product.product_name }}">
                            </div>
                            <div class="gallery_hover">
                                <div class="hover_inner d-flex align-items-center justify-content-between">
                                    <h3>{{ product.product_name }}</h3>
                                    <p>{{ product.price }}</p>
                                    <div class="icon">
                                        <a href="{% url 'petrosa_energia_app:product_detail' slug=product.slug %}"
                                        {% if selected_category %}
                                        {% if selected_category == "Caterpillar" %}
                                        {% elif selected_category == "Perkins" %}
                                        {% elif selected_category == "Cummins" %}
                                        {% endif %}
                                        {% endif %}
                                        >
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>

        </div>
        
            
   
    <div class="contact_us overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7">
                    <div class="contact_text">
                        <h3>Looking for Reliable Power Solutions and Electrical Services?</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="contact_btn">
                        <a class="boxed-btn3" href="{% url 'petrosa_energia_app:contact' %}">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact_us_end -->


    
{% endblock %}