{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="bradcam_area bradcam_bg_2 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ product.name }}</h3>
                        <p><a href="{% url 'petrosa_energia_app:index' %}">Home</a> / {{ product.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.show_image1 }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description|safe }}</p>
                <h4 class="text-primary">Price: ${{ product.price }}</h4>
                <a href="{% url 'petrosa_energia_app:quick_quote' product_slug=product.slug %}" class="btn btn-warning">Quick Quote</a>
            </div>
        </div>
    </div>
{% endblock %}
